<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <!--  link rel="stylesheet" href=""  -->
        <title>Home</title>
    </head>
    <body>
        <h1>WeCum To insecure sh*t Doc Repo</h1>
        <form method="get" action = "search">{% csrf_token %}
        {{form}}
        <button type="submit">Search</button>
        </form>       
        <form method="put" action = "pfp">{% csrf_token %}
            <label>Change Profile Picture </label>
            {{pfp_form}}
        <button type="submit">Change Profile Picture </button>
    </form><br>
        <form method="POST" action = "pw/">{% csrf_token %}
            <label>Change Password </label>
            {{pw_form}}
        <button type="submit">Change Password</button>
        </form>
        {% comment %} {{img}} {% endcomment %}
        <img src="{{img}}">
        {{name}}
        {{phone}}
        {{email}}
    </body>
</html>
