<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <!--  link rel="stylesheet" href=""  -->
        <title>Home</title>
    </head>
    <body>
 
        <form method="get" action = "search">{% csrf_token %}
        {{form}}
        <button type="submit">Search</button>
        </form>       
        <form method="put" action = "pfp">{% csrf_token %}
            {{pfp_form}}
        <button type="submit">Change Pfp</button>
        </form>
        {% comment %} {{img}} {% endcomment %}
        <img src="{{img}}">
        {{name}}
        {{phone}}
        {{email}}
            <img style={{post.id}}>
            <p>{{post.txt}}</p>
            <label value="{{post.title}}" placeholder="Notes" style="position:absolute;left:421px;top:152px;">

    </body>
</html>
