<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .input {
                color: red;
            }

        </style>
    </head>

    <body>
        <form method="post" action="submit" id="reg">
            <label class="input">First Name</label>
            <input type="text" name="First Name" class="input" id="fName">
            <label class="input">Last Name</label>
            <input type="text" name="Last Name" class="input" id="lName">
            <label class="input"> Password</label>
            <input type="password" name="pW" class="pw input">
            <label class="input">Confirm Password</label>
            <input type="password" name="cPW" class="pw input">
            <input type="submit" value="Register" class="input submit">

        </form>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--<script src="" async defer></script>-->
    </body>

</html>
