[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.2"
mysqlclient = "==2.2.4"
djangorestframework = "*"
asgiref = "==3.7.2"
pytz = "==2024.1"
sqlparse = "==0.4.4"
tzdata = "==2024.1"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
