asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
cryptography==42.0.5
distlib==0.3.8
Django==5.0.2
django-auto-logout==0.5.1
django-axes==6.4.0
django-extensions==3.2.3
django-session-timeout==0.1.0
djangorestframework==3.14.0
file-validator==1.0.9
filelock==3.13.1
filetype==1.1.0
humanize==4.4.0
MarkupSafe==2.1.5
mysql-connector-python==8.3.0
mysqlclient==2.2.4
pillow==10.2.0
pipenv==2023.12.1
platformdirs==4.2.0
puremagic==1.14
pycparser==2.21
pyOpenSSL==24.1.0
python-dotenv==0.21.1
python-magic-bin==0.4.14
pytz==2024.1
setuptools==69.1.0
six==1.16.0
sqlparse==0.4.4
termcolor==1.1.0
tzdata==2024.1
virtualenv==20.25.0
Werkzeug==3.0.1
